th, tr {
	vertical-align: top !important;
}

.panel {
	max-width: 195px;
	border-width: 3px;
	border-color: lightgrey !important;
	border-radius: 6px !important;
}

.panel-heading, .panel-body, .panel-footer {
	padding: 3px 5px;
}

.panel-body {
	font-size: 85%;
}

.glyphicon {
	zoom: 85%;
}

.cos-1 .panel-heading {
	background-color: rgba(255,63,63,0.3);
	color: rgb(160,31,31);
}

.cos-2 .panel-heading {
	background-color: rgba(63,255,63,0.3);
	color: rgb(31,160,31);
}

.cos-3 .panel-heading {
	background-color: rgba(63,63,255,0.3);
	color: rgb(31,31,160);
}

.cos-4 .panel-heading {
	background-color: rgba(255,255,63,0.3);
	color: rgb(160,160,31);
}

.cos-5 .panel-heading {
	background-color: rgba(255,63,255,0.3);
	color: rgba(160,31,160);
}

.cos-6 .panel-heading {
	background-color: rgba(63,255,255,0.3);
	color: rgba(31,160,160);
}

.cos {
	margin: 5px;
	padding-bottom: 15px;
}

.cos > span {
	margin-left: 10px;
	padding: 5px;
	border: 3px solid lightgrey;
	border-radius: 6px;
}

.cos .cos-1 {
	background-color: rgba(255,63,63,0.3);
	color: rgb(160,31,31);
}

.cos .cos-2 {
	background-color: rgba(263,255,63,0.3);
	color: rgb(31,160,31);
}

.cos .cos-3 {
	background-color: rgba(63,63,255,0.3);
	color: rgb(31,31,160);
}

.cos .cos-4 {
	background-color: rgba(255,255,63,0.3);
	color: rgb(160,160,31);
}

.cos .cos-5 {
	background-color: rgba(255,63,255,0.3);
	color: rgb(160,31,160);
}

.cos .cos-6 {
	background-color: rgba(63,255,255,0.3);
	color: rgb(31,160,160);
}