<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=1920, height=1080, initial-scale=1" />
		<title>node-kanban: Métricas</title>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-resource/angular-resource.min.js"></script>
		
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
		
		<script src="javascripts/app.js"></script>
		<script src="javascripts/controllers/MetricsController.js"></script>
	</head>
	<body ng-app="NodeKanbanApp">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<div class="navbar-brand navbar-left">
					NodeKanban
				</div>
			</div>
			<div class="navbar-brand">
				Tablero: Desarrollo
			</div>
			<div class="navbar-brand navbar-right">
				Dirección IP: 123.234.255.23
			</div>
		</nav>
		<div ng-controller="MetricsController" class="table-responsive">
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th colspan="2">Tarea</th>
						<th colspan="4">Fechas</th>
						<th colspan="3">Métricas</th>
					</tr>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Fecha pedido</th>
						<th>Fecha inicio</th>
						<th>Fecha entrega</th>
						<th>Días sin trabajo</th>
						<th>Lead time</th>
						<th>Cycle time</th>
						<th>Touch time</th>
					</tr>
					
				</thead>
				<tfoot>
					<tr></tr>
				</tfoot>
				<tbody>
					<tr class="cos-{{ task.cos }}" ng-repeat="task in tasks" ng-if="task.dates.delivery <= Date">
						<td class="text-right">{{ task.id }}</td>
						<td>{{ task.name }}</td>
						<td>{{ task.dates.request | date:'medium' }}</td>
						<td>{{ task.dates.start | date:'medium' }}</td>
						<td>{{ task.dates.delivery | date:'medium' }}</td>
						<td class="text-right">{{ task.idle_time }}</td>
						<td class="text-right">{{ Math.floor((task.dates.delivery - task.dates.request) / (60 * 60 * 24 * 1000)) }}</td>
						<td class="text-right">{{ Math.floor((task.dates.delivery - task.dates.start) / (60 * 60 * 24 * 1000)) }}</td> <!--  falta restar numero de dias habiles entre ambas fechas -->
						<td class="text-right">{{ (Math.floor((task.dates.delivery - task.dates.request) / (60 * 60 * 24 * 1000))) - task.idle_time }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>